#header{
    background: linear-gradient(rgb(0, 116, 158), rgb(0, 71, 97));
    min-height: 70px;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.095) 0px 1px 3px 4px, 
                        rgba(0, 0, 0, 0.06) 0px 5px 2px 0px;
    #title{
        color: white;
        font-size: 15px;
        width: 25%;

        #logo{
            background: transparent;
            border: none;
            font-size: 30px;
            color: white;
        }
    }

    #nav{
        display: flex;
        flex-wrap: wrap-reverse;
        width: 75%;
        justify-content: flex-end;
        align-items: center;
        height: fit-content;
        margin: 5px;
        box-sizing: border-box;
        #nav-btn{
            display: flex;
            height: fit-content;
            justify-content: center;
            align-items: center;
            .btns{
                background: transparent;
                border: none;
                border-radius: 5px;
                height: 25px;
                min-width: 60px;
                width: fit-content;
                color: white;
                font-size: 12px;
                text-align: center;
            }

            .btns:hover{
                background-color: rgb(4, 54, 81);
            }
        }

        #search{
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;
            margin: 10px;
            border-radius: 10px;
            height: 30px;
            background-color: rgb(11, 95, 168);
            display: flex;
            justify-content: center;
            align-items: center;

            #search-bar{
                border: none;
                background: transparent;
                height: 94%;
                background-color: aliceblue;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
            }

            #search-btn{
                background-color: rgba(227, 218, 218, 0.968);
                border: none;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                height: 100%;
                padding: none;
                margin: none;
            }
        }
        
    }
    
}  