#schedule-container{
    margin: 5px;
    box-sizing: border-box;
    border-radius: 5px;

    #schedule-table{
        width: 100%;
        border-collapse: collapse;

        #schedule-head{
            background-color: rgba(201, 201, 201, 0.329);
            font-size: 12px;
            height: 25px;
        }

        tbody tr{
            height: 30px;
        }

        tbody tr:nth-child(odd) {
            background-color: rgba(230, 255, 223, 0.1); 
        }

        tbody tr:nth-child(even) {
            background-color: rgba(0, 255, 174, 0.1);
        }
    }



    .schedule-row{
        margin: none;
        padding: none;
    }

    .time-col{
        border-bottom: 1px solid rgb(202, 202, 202);
        width: 70px;
        font-size: 13px;
        text-align: center;
    }
    
}

